<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="angular.js"></script>
        <script type="text/javascript">
            var mymodule = angular.module('mymodule', []);
            mymodule.controller("mymodleController", function($scope){
                $scope.clickCounter = 0;
                $scope.check = function(){
                    $scope.clickCounter++;
                }
            });
        </script>
    </head>
    <body ng-app="mymodule">
        <div ng-controller="mymodleController">
            <input type="checkbox" ng-model="model" ng-change="check()">
            <input type="checkbox" ng-model="model">
            <label>I am working for the second Checkbox</label><br>
            Checkboxes are checked = {{model}}<br>
            <div>
                counter = {{clickCounter}}
            </div>
        </div>
    </body>
</html>
