<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="angular.js"></script>
        <style media="screen">
            .changeColor{
                color: blue;
            }
            .changeSize{
                font-size: 30px;
            }
            .italic{
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div>
            <p ng-class="style">
                Hello world
            </p><br>
            <input type="text" ng-model="style">
            <p ng-class="{changeColor:a, changeSize:b, italic:c}">
                Goodbye world
            </p><br>
            <label for="">change color</label>
            <input type="checkbox" ng-model="a"><br>
            <label for="">change Size</label>
            <input type="checkbox" ng-model="b"><br>
            <label for="">change to italic</label>
            <input type="checkbox" ng-model="c"><br>
        </div>
    </body>
</html>
