<!DOCTYPE html>
<html ng-app="store">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="angular.js"></script>
        <script src="controller.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    </head>
    <body>
        <div ng-controller="StoreController as store">
            <div class="container" ng-repeat="product in store.product">
                <div ng-hide="product.soldOut">
                    <h1>{{ product.name }}</h1>
                    <h2>{{ product.price | currency }}</h2>
                    <button class="btn btn-success" ng-show="product.canPurchase">Purchase</button>
                    <section ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                            <li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Description</a></li>
                            <li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Specification</a></li>
                            <li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
                        </ul>

                        <div class="panel" ng-show="panel.tab === 1">
                            <h4>Description</h4>
                            <blockquote>
                                {{product.description}}
                            </blockquote>
                        </div>
                        <div class="panel" ng-show="panel.tab === 2">
                            <h4>Specifications</h4>
                            <blockquote>
                                None yet.
                            </blockquote>
                        </div>
                        <div class="panel" ng-show="panel.tab === 3">
                            <h4>Reviews</h4>
                            <blockquote>
                                <div ng-repeat="review in product.reviews">
                                    <h5>Stars: {{ review.stars }}</h5>
                                    <h5>Description</h5>
                                    <p>{{ review.body }}</p>
                                    <h5>Author: {{review.author}}</h5>
                                    <br>
                                </div>
                                <div>
                                    <form name="reviewForm" ng-controller="ReviewController as reviewCTRL" ng-submit="reviewCTRL.addReview(product)">
                                        <blockquote>
                                            <b ng-show="reviewCTRL.review.stars">Stars: {{ reviewCTRL.review.stars }}</b>
                                            <br>
                                            <h5 ng-show="reviewCTRL.review.body">Description</h5>
                                            {{ reviewCTRL.review.body }}
                                            <br>
                                            <cite ng-show="reviewCTRL.review.author">by: {{ reviewCTRL.review.author }}</cite>
                                        </blockquote>

                                        <select class="form-control" ng-model="reviewCTRL.review.stars">
                                            <option value="1">1 star</option>
                                            <option value="2">2 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="4">4 stars</option>
                                            <option value="5">5 stars</option>
                                        </select>
                                        <br>
                                        <textarea class="form-control" ng-model="reviewCTRL.review.body" placeholder="Description"></textarea>
                                        <br>
                                        <input class="form-control" ng-model="reviewCTRL.review.author" placeholder="author">
                                        <br>
                                        <input class="form-control btn btn-success" type="submit" value="Submit">
                                    </form>
                                </div>
                            </blockquote>
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
